video {
    width: 600px;
    height: 400px;
    object-fit: cover;
    background: black;
    border: 2px solid red;
}

:host ::ng-deep .ant-image-preview-img-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
